<table class="table">
  <thead >
    <tr class="table-header">
      <th class="header__item">Continent</th>
      <th class="header__item">Region</th>
      <th class="header__item">Country</th>
      <th class="header__item">Year</th>
      <th class="header__item">Population</th>
      <th class="header__item">Gdp</th>
    </tr>
  </thead>
  <tbody class="table-content">
    <tr class="table-row" *ngFor="let data of dashboardList">
      <td class="table-data">{{data.continentName}}</td>
      <td class="table-data">{{data.regionName}}</td>
      <td class="table-data">{{data.countryName}}</td>
      <td class="table-data">{{data.year}}</td>
      <td class="table-data">{{data.population}}</td>
      <td class="table-data">{{data.gdp}}</td>
    </tr>
  </tbody>
</table>
